[defaults]
vault_password_file = /home/etu/.vault_pass.txt
inventory = ./inventory/hosts.yaml
host_key_checking = True
remote_user = etu
retry_files_enabled = False
interpreter_python = auto_silent
deprecation_warnings = False
stdout_callback = yaml

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False