port=0
interface={{ ovs_bridge_name }}
bind-interfaces
{% if keepalived_state == 'MASTER' %}
# Plage pour vm-blue
dhcp-range=192.0.2.100,192.0.2.150,255.255.255.0,12h
{% else %}
# Plage pour vm-green
dhcp-range=192.0.2.151,192.0.2.200,255.255.255.0,12h
{% endif %}
dhcp-option=3,192.0.2.254
dhcp-option=6,9.9.9.9
domain=incus.local
