interface {{ ovs_bridge_name }} {
    AdvSendAdvert on;
    MinRtrAdvInterval 3;
    MaxRtrAdvInterval 10;
    
    AdvRASrcAddress {
        {{ overlay_vip_ipv6 }}; 
    };

    prefix {{ network_tenant_overlay_networks[1] }} {
        AdvOnLink on;
        AdvAutonomous on;
        AdvRouterAddr on;
    };
};